body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
@font-face {
  font-family: "Iter";
  src: local("Iter-Black"),
   url('../fonts/Iter/Iter-Black.ttf') format("truetype");
  font-weight: 900;
 }
 @font-face {
  font-family: "Iter";
  src: local("Iter-ExtraBold"),
   url('../components/assets/fonts/Iter/Iter-ExtraBold.ttf') format("truetype");
  font-weight: 800;
 }
 @font-face {
  font-family: "Iter";
  src: local("Iter-Bold"),
   url('../components/assets/fonts/Iter/Iter-Bold.ttf') format("truetype");
  font-weight: 700;
 }
 @font-face {
  font-family: "Iter";
  src: local("Iter-SemiBold"),
   url('../components/assets/fonts/Iter/Iter-SemiBold.ttf') format("truetype");
  font-weight: 600;
 }

@font-face {
  font-family: "Iter";
  src: local("Iter-Medium"),
   url('../components/assets/fonts/Iter/Iter-Medium.ttf') format("truetype");
  font-weight: 500;
 }

@font-face {
  font-family: "Iter";
  src: local("Iter-Regular"),
   url('../components/assets/fonts/Iter/Iter-Regular.ttf') format("truetype");
  font-weight: 400;
 }

 @font-face {
  font-family: "Iter";
  src: local("Iter-Light"),
   url('../components/assets/fonts/Iter/Iter-Light.ttf') format("truetype");
  font-weight: 300;
 }

 @font-face {
  font-family: "Iter";
  src: local("Iter-ExtraLight"),
   url('../components/assets/fonts/Iter/Iter-ExtraLight.ttf') format("truetype");
  font-weight: 200;
 }

 @font-face {
  font-family: "Iter";
  src: local("Iter-Thin"),
   url('../components/assets/fonts/Iter/Iter-Thin.ttf') format("truetype");
  font-weight: 100;
 } */

@import url('https://fonts.googleapis.com/css2?family=Iter&display=swap');

